<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CountOrangesMaxValue" value="10"/>
    <add key="CountOrangesExcludedValues" value=""/>
    <add key="RecogniseNumbersMaxValue" value="10"/>
    <add key="RecogniseNumbersExcludedValues" value=""/>
  </appSettings>
</configuration>